---
import Header from "../components/Header.astro";
import Base from '../layouts/Base.astro';
import Card from "../components/Card.astro";
const offres = [
    {
        "adresse": "2821 Lake Sevilla, Palm Harbor, TX",
        "favori": true,
        "id": "64l3n8nar836i5j",
        "nbChambres": 4,
        "nbSdb": 2,
        "nomMaison": "Beverly Springfield",
        "prix": 2700,
        "surface": 45,
        "imgUrl": "image1.png"
    },
    {
        "adresse": "2699 Green Valley, Highland Lake",
        "favori": true,
        "id": "lo831zeg10hpm9y",
        "nbChambres": 4,
        "nbSdb": 2,
        "nomMaison": "Palm Harbor",
        "prix": 2095,
        "surface": 42,
        "imgUrl": "image2.png"
    },
    {
        "adresse": "909 Woodland St, Michigan, IN",
        "favori": false,
        "id": "s1zuhj19x8eb242",
        "nbChambres": 4,
        "nbSdb": 3,
        "nomMaison": "Faulkner Ave",
        "prix": 4550,
        "surface": 80,
        "imgUrl": "image3.png"
    }
]
---
<Base>
    <h1 class="text-4xl font-bold text-center text-gray-800 my-8">Offres</h1>
    <div>
        { offres.map((offre) => 
            <Card>
                <li>adresse={offre.adresse}</li>
                <li>favori={offre.favori}</li>
                <li>id={offre.id}</li>
                <li>nbChambres={offre.nbChambres}</li>
                <li>nbSdb={offre.nbSdb}</li>
                <li>nomMaison={offre.nomMaison}</li>
                <li>prix={offre.prix}</li>
                <li>surface={offre.surface}</li>
                <li>imgUrl={offre.imgUrl}</li>
            </Card>
            )
        }
        </div>
        <div x-data="{ showFavorites: false }">
            <button @click="?">
                <span x-show="?">Afficher les favoris</span>
                <span x-show="?">Afficher tout</span>
            </button>
        
            <div x-show="?">
                {offres.map((offre) => <Card {...offre} />)}
            </div>
            <div x-show="?">
                {offres.map((offre) => offre.favori && <Card {...offre}/>)}
            </div>
        </div>
</Base>