---
const offre = Astro.props;
---


<li class="border rounded-lg p-4 shadow-lg bg-white transition-transform">
    <div class="overflow-hidden rounded-md"></div>
<div x-data=`{favori: false}` :class="{'bg-yellow-100': favori}">
    <h2>{offre.nomMaison}</h2>
    <img src={offre.img} alt={offre.imgAlt} class="w-64 h-64 object-cover" />
    <p>{offre.adresse}</p>
    <p>{offre.prix}</p>
    <p>{offre.surface} m² - {offre.nbChambres} chambres - {offre.nbSdb} salles de bain</p>
    <a href={`/offres/${offre.id}`}>Voir plus</a>
</div>
</li>